body {
    max-width: 980px;
    margin: auto;
}

.invoice {
    margin-top: 45px !important;
    text-align: start;
    // style="margin-top:-80mm;"
}

.invoice p {
    margin: 4px 0px 0px !important;
}


p {
    font-size: 18px;
}


    .text p {
        position: relative;
    }

.underline-dotted {
    border-bottom: 1px dotted #333;
    display: inline-block;
}

table {
    border: solid 1px;
    text-align: center;
    width: 100%;
    border-spacing: 0px;
    font-size: 18px;
}

.table1, .table2 {
    border-bottom: 0px;
    border-right: 1px;
}

    .table1 th {
        border-bottom: solid 1px;
        border-right: solid 1px;
        border-top: solid 0.1px;
        border-left: solid 0.1px;
        padding: 12px;
    }

    .table1 thead {
        background-color: #cecece;
    }

    .table1 td {
        border-bottom: solid 1px;
        border-right: solid 1px;
        padding: 10px;
    }

    .table2 td {
        border-bottom: solid 1px;
        border-right: solid 1px;
        padding: 9px;
    }

.table2 {
    margin-top: -1px;
    font-weight: bold;
}

@media print {
    .new-page {
        page-break-before: always;
    }
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
    }
}

/*@page {
    margin-top:80mm;
}

@page :first {
    margin-top: -70mm!important;
}*/
*{
    color: #000 !important;
    font-family: 'Times New Roman', Times, serif;
    direction: rtl !important;
}
hr{
    background-color: #000;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.receipt-total {
    border: 1px solid
}

@page {
    size: auto;   /* auto is the initial value */
    margin: 30px;  /* this affects the margin in the printer settings */
}

