.custom-control {
  z-index: 0 !important;
}

[dir] .bordered-layout .main-menu .navigation, [dir] .bordered-layout .main-menu {
  background: #ffffff;
}

.rdw-editor-wrapper .rdw-editor-main {
   background: white;
}

.attachments-box{
  background: #fe5e0050;
  text-align-last: center;
  padding: 15px;
}